.html, body {

}

/* Main Body */
.main-body {
    padding: 15px;
}

/* Navigation Link */
.nav-link {
    color: var(--text-color);
    border-radius: 30px ! important;
    margin-top: 2px;
    margin-bottom: 2px ! important;
}

.nav-link:hover {
    color: var(--accent);
    background-color: var(--nav-items);
}

/* Navigation Link Active */
.nav-link.active {
    color: var(--text-color-active) !important;
    background-color: var(--accent) !important;
}


/* Card Styles */
.card {
    border-radius: 20px;
    border: 0 solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    position: relative;
    background-color: var(--sidebar-color) !important; /* Semi-transparent background */
    backdrop-filter: saturate(200%) blur(25px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.tab-pane {
    color: var(--text-color);
}

.card-header {
    margin-bottom: 0;
    background-color: transparent;

}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}


.form-control {
    border-width: 2px;
    border-radius: 20px;
    color: var(--text-color);
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.card-body {
    padding: 1rem;
    flex: 1 1 auto;
}

/* Gutter Spacing */
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

/* Utility Classes */
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
}