{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal, show_details_button %}
{% extends 'base.html' %}
{% block title %} Blacklist {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blacklist/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='/js/blacklist/scripts.js') }}"></script>
    <script>
    </script>
{% endblock %}
{% block content %}
    <!-- Blacklist Jumbotron -->
    <section class="blacklist-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Blacklist</h1>
                <p class="col-md-8 fs-4">List of IP not identified</p>
            </div>
        </div>
    </section>
    <!-- Blacklist Jumbotron -->

    <!-- Blacklist Database -->
    <section class="blacklist-database pt-3 text">
        <div class="container w-100 align-items-center">
            <div class="row">
                <div class="col-8 col-md-7 text-left">
                    <h2 class="routers-database-title"><b>Segment</b> blacklist</h2>
                </div>
                <div class="col-12 col-md-5 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" data-bs-toggle="modal" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i style="font-size: large" class="fa-solid fa-trash-can-plus"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-dark" data-bs-toggle="modal" id="delete-all"
                            data-bs-target="#delete-all-modal">
                        <i style="font-size: large" class="fa-solid fa-trash-can-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Routers Database -->

    <!-- Blacklist Separator -->
    <section class="blacklist-separator">
        <div class="container w-75 text">
            <hr>
        </div>
    </section>
    <!-- Blacklist Separator -->

    <!-- Blacklist Table -->
    <section class="blacklist-table hide-scroll pt-3 pb-3 text">
        <div class="container w-75" id="sites-table-c">
            <table class="table table-responsive text" id="datatable-object">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">MAC Address</th>
                    <th scope="col">Interface</th>
                    <th scope="col">Alias</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"><label for="ip_blacklist-"></label>
                        <input type="checkbox" class="form-check-input" id="ip_blacklist-">
                    </td>
                    <td>1</td>
                    <td>192.168.1.254</td>
                    <td>00:00:00:00:00:00</td>
                    <td>eth0</td>
                    <td>Grupo ECO</td>
                    <td>Descripción para Grupo ECO</td>
                    <td>
                        <a href="" type="button"
                           class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></a>
                        <button type="button" id="delete-button-blacklist-"
                                class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-modal"
                                data-id=""
                                data-type="blacklist"
                                data-url=""
                                data-name=""
                        ><i class="fa-solid fa-trash"></i></button>
                        <!-- Show Details Button -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- Routers Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
