{% extends 'base.html' %}
{% block title %} {{ "IP Groups Tags / Add" if tag_obj is none else "IP Groups Tags / Update" }} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ip_management/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/ip_management/scripts.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Tags Jumbotron -->
    <section class="tags-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ "Add IP Groups Tag" if tag_obj is none else "Update IP Groups Tag" }}</h1>
                <p class="col-md-8 fs-4">Fill the form below
                    to {{ "add a new IP Groups Tag" if tag_obj is none else "update the IP Groups Tag" }}.</p>
            </div>
        </div>
    </section>
    <!-- Tags Jumbotron -->

    <!-- Tags Forms -->
    <section class="tags-forms text">
        <div class="container-fluid w-75">
            <form action="{{ url_for('ip_management.add_ip_group_tag') if tag_obj is none else url_for('ip_management.update_ip_group_tag', tag_id=tag.ip_group_tag_id) }}"
                  method="POST">
                <!-- Tag Name -->
                <div class="mb-3">
                    <label for="tag-name" class="form-label">Tag Name *</label>
                    <input type="text" class="form-control" id="tag-name" name="tag_name"
                           value="{{ tag_obj.ip_group_tag_name if tag_obj is not none else '' }}" required>
                </div>

                <!-- Tag Description -->
                <div class="mb-3">
                    <label for="tag-description" class="form-label">Tag Description</label>
                    <textarea class="form-control" id="tag-description" name="tag_description"
                              rows="3">{{ tag.ip_group_tag_description if tag_obj is not none else '' }}</textarea>
                </div>

                <!-- Tag Colors Field Group -->
                <div class="row mb-3">
                    <!-- Tag Color -->
                    <div class="col">
                        <label for="tag-color" class="form-label">Tag Color</label>
                        <input type="color" class="form-control" id="tag-color" name="tag_color" style="width: 10%"
                               value="{{ tag.ip_group_tag_color if tag_obj is not none else '#000000' }}" required>
                    </div>
                    <!-- Tag Text Color -->
                    <div class="col">
                        <label for="tag-text-color" class="form-label">Tag Text Color</label>
                        <input type="color" class="form-control" id="tag-text-color" name="tag_text_color" style="width: 10%"
                               value="{{ tag.ip_group_tag_text_color if tag_obj is not none else '#ffffff' }}" required>
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">{{ "Add Tag" if tag_obj is none else "Update Tag" }}</button>
            </form>
        </div>
    </section>
    <!-- Tags Forms -->
{% endblock %}