{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal %}
{% extends 'base.html' %}
{% block title %} IP Groups Tags {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ip_management/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/ip_management/scripts.js') }}"></script>
    <script>

    </script>
{% endblock %}
{% block content %}
    <!-- Tags Jumbotron -->
    <section class="tags-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold ">IP Groups Tags</h1>
                <p class="col-md-8 fs-4">You can create, update, delete and view all IP Groups Tags here.</p>
                <a href="" class="btn btn-primary btn-lg" type="button"><i
                        class="fa-solid fa-plus"></i> Create New Tag</a>
            </div>
        </div>
    </section>
    <!-- Tags Jumbotron -->

    <!-- Tags Database -->
    <section class="tags-database pt-3 text">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="tags-database-title"><b>Available</b> IP Groups Tags</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" id="delete-select">
                        <i class="fa-solid fa-square-minus"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-dark" id="delete-all">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Tags Database -->

    <!-- Tags Separator -->
    <section class="tags-separator">
        <div class="container w-75">
            <hr class="text">
        </div>
    </section>
    <!-- Tags Separator -->

    <!-- Tags Table -->
    <section class="tags-table hide-scroll pt-3 pb-3">
        <div class="container w-75 text" id="tags-table-c">
            <table class="table table-responsive" id="datatable-object">
                <thead class="text">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Tag ID</th>
                    <th scope="col">Color</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="text">

                </tbody>
            </table>
        </div>
    </section>
    <!-- Tags Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
