{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal %}
{% extends 'base.html' %}
{% block title %} IP Groups Tags {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ip_management/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/ip_management/scripts.js') }}"></script>
    <script>

    </script>
{% endblock %}
{% block content %}
    <!-- Tags Jumbotron -->
    <section class="tags-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold ">IP Groups Tags</h1>
                <p class="col-md-8 fs-4">You can create, update, delete and view all IP Groups Tags here.</p>
                <a href="{{ url_for( 'ip_management.add_ip_group_tag' ) }}" class="btn btn-primary btn-lg"><i
                        class="fa-solid fa-plus"></i> Create New Tag</a>
            </div>
        </div>
    </section>
    <!-- Tags Jumbotron -->

    <!-- Tags Database -->
    <section class="tags-database pt-3 text">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="tags-database-title"><b>Available</b> IP Groups Tags</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" id="delete-select">
                        <i class="fa-solid fa-square-minus"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-dark" id="delete-all">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Tags Database -->

    <!-- Tags Separator -->
    <section class="tags-separator">
        <div class="container w-75">
            <hr class="text">
        </div>
    </section>
    <!-- Tags Separator -->

    <!-- Tags Table -->
    <section class="tags-table hide-scroll pt-3 pb-3">
        <div class="container w-75 text" id="tags-table-c">
            <table class="table table-responsive" id="datatable-object">
                <thead class="text">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Tag ID</th>
                    <th scope="col">Color</th>
                    <th scope="col">Text Color</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="text">
                {% for tag in tags %}
                    <tr>
                        <!-- Checkbox -->
                        <td>
                            <input type="checkbox" class="form-check-input" name="delete-select" value="{{ tag.ip_group_tag_id }}">
                        </td>

                        <!-- Identifier -->
                        <td>{{ tag.ip_group_tag_id }}</td>

                        <!-- Color -->
                        <td>
                            <span class="badge" style="background-color: {{ tag.ip_group_tag_color }}; color: {{ tag.ip_group_tag_text_color }};">
                                {{ tag.ip_group_tag_color }}
                        </td>

                        <!-- Text Color -->
                        <td>
                            <span class="badge" style="background-color: {{ tag.ip_group_tag_text_color }}; color: {{ tag.ip_group_tag_color }};">
                                {{ tag.ip_group_tag_text_color }}
                            </span>
                        </td>

                        <!-- Name -->
                        <td>{{ tag.ip_group_tag_name }}</td>

                        <!-- Description -->
                        <td>{{ tag.ip_group_tag_description }}</td>

                        <!-- Actions -->
                        <td>
                            <a href="{{ url_for('ip_management.update_ip_group_tag', tag_id=tag.ip_group_tag_id) }}"
                               class="btn btn-sm btn-primary me-2">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    data-id="{{ tag.ip_group_tag_id }}" data-name="{{ tag.ip_group_tag_name }}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Tags Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
