{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal, show_details_button %}
{% extends 'base.html' %}
{% block title %} IP Management &#10095; Sites &#10095; Options &#10095; IP Segments {{ site_name }} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ip_management/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/ip_management/scripts.js') }}"></script>
    <script>
        deleteAllModal("{{ url_for('ip_management.delete_segments', site_id=site_id) }}", "{{ url_for('ip_management.ip_segment', site_id=site_id) }}", 'segments');
        deleteSelectModal("{{ url_for('ip_management.bulk_delete_segment') }}", "{{ url_for('ip_management.ip_management') }}", 'segment');
    </script>
{% endblock %}
{% block content %}
    <!-- IP Segments Jumbotron -->
    <section class="segments-jumbotron pt-5 mb-3">
        <div class="container-fluid py-5 d-flex flex-column flex-md-row">
            <div class="d-flex col-md-1 order-md-1 order-2 text-md-start text-center my-md-0 my-3 justify-content-center align-items-center">
                <button class="btn btn-c-return">
                    <a href="{{ url_for('ip_management.ip_management_options_by_site', site_id=site_id) }}"
                       class="text-decoration-none text-dark" style="font-size: 2.5rem">
                        <i class="fa-solid fa-backward" style="color: white"></i>
                    </a>
                </button>
            </div>
            <div class="col-md-11 order-md-2 order-1">
                <h1 class="display-5 fw-bold">IP Segments for {{ site_name }}</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
            </div>
        </div>
    </section>
    <!-- IP Segments Jumbotron -->

    <!-- IP Segments Database -->
    <section class="segments-database pt-3 text">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="regions-database-title"><b>Available</b> IP Segments</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" data-bs-toggle="modal" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i class="fa-solid fa-square-minus"></i>&nbsp; Delete Selected
                    </button>
                    <button type="button" class="btn btn-md btn-dark" id="delete-all">
                        <i class="fa-solid fa-trash"></i>&nbsp; Delete All
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- IP Segments Database -->

    <!-- IP Segments Separator -->
    <section class="segments-separator text">
        <div class="container w-75">
            <hr>
        </div>
    </section>
    <!-- IP Segments Separator -->

    <!-- IP Segments Table -->
    <section class="segments-table hide-scroll pt-3 pb-3 text">
        <div class="container w-75" id="regions-table-c">
            <table class="table table-responsive text" id="datatable-object">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">IP</th>
                    <th scope="col">Subnet</th>
                    <th scope="col">Network</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if ip_segment_list %}
                    {% for ip_segment in ip_segment_list %}
                        <tr>
                            <td class="text-center"><label for="segment-{{ ip_segment.ip_segment_id }}"></label>
                                <input type="checkbox" class="form-check-input"
                                       id="segment-{{ ip_segment.ip_segment_id }}">
                            </td>
                            <th scope="row">{{ ip_segment.ip_segment_id }}</th>
                            <td>{{ ip_segment.ip_segment_ip }}</td>
                            <td>{{ ip_segment.ip_segment_mask }}</td>
                            <td>{{ ip_segment.ip_segment_network }}</td>

                            {% if ip_segment.ip_segment_tag.value == 'Public IP' %}
                                {% set badge_class = 'primary' %}
                            {% elif ip_segment.ip_segment_tag.value == 'Private IP' %}
                                {% set badge_class = 'success' %}
                            {% elif ip_segment.ip_segment_tag.value == '' %}
                                {% set badge_class = 'warning' %}
                            {% else %}
                                {% set badge_class = 'secondary' %}
                            {% endif %}

                            <td>
                                <span class="badge bg-{{ badge_class }}">{{ ip_segment.ip_segment_tag.value }}</span>
                            </td>
                            <td>
                                <button type="button" id="delete-button-segment-{{ ip_segment.ip_segment_id }}"
                                        class="btn btn-sm btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#delete-modal"
                                        data-id="{{ ip_segment.ip_segment_id }}"
                                        data-type="segment"
                                        data-url="{{ url_for('ip_management.delete_segment', segment_id=ip_segment.ip_segment_id, site_id=site_id) }}"
                                        data-name="{{ ip_segment.ip_segment_ip }}"
                                ><i class="fa-solid fa-trash"></i></button>
                                {{ show_details_button(ip_segment.ip_segment_id, url_for('ip_management.get_ip_segment_details'), 'Segment') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- IP Segments Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
