{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal %}
{% extends 'base.html' %}
{% block title %} IP Segments {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ip_addresses/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/ip_addresses/scripts.js') }}"></script>
    <script>
        const segmentDetails = new SegmentsDetails('{{ url_for('ip_addresses.get_ip_segment_details') }}');
        deleteAllModal("{{ url_for('ip_addresses.delete_all_segments') }}", "{{ url_for('ip_addresses.ip_addresses') }}", 'segments');
        deleteSelectModal("{{ url_for('ip_addresses.bulk_delete_segment') }}", "{{ url_for('ip_addresses.ip_addresses') }}", 'segment');
    </script>
{% endblock %}
{% block content %}
    <!-- IP Segments Jumbotron -->
    <section class="segments-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">IP Segments</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
            </div>
        </div>
    </section>
    <!-- IP Segments Jumbotron -->

    <!-- IP Segments Database -->
    <section class="segments-database pt-3">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="regions-database-title"><b>Available</b> IP Segments</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" data-bs-toggle="modal" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i class="fa-solid fa-square-minus"></i>&nbsp; Delete Selected
                    </button>
                    <button type="button" class="btn btn-md btn-dark" data-bs-toggle="modal" id="delete-all"
                            data-bs-target="#delete-all-modal">
                        <i class="fa-solid fa-trash"></i>&nbsp; Delete All
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- IP Segments Database -->

    <!-- IP Segments Separator -->
    <section class="segments-separator">
        <div class="container w-75">
            <hr>
        </div>
    </section>
    <!-- IP Segments Separator -->

    <!-- IP Segments Table -->
    <section class="segments-table hide-scroll pt-3 pb-3">
        <div class="container w-75" id="regions-table-c">
            <table class="table table-responsive" id="datatable-object">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">IP</th>
                    <th scope="col">Subnet</th>
                    <th scope="col">Network</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ip_segment in ip_segment_list %}
                    <tr>
                        <td class="text-center"><label for="segment-{{ ip_segment.ip_segment_id }}"></label>
                            <input type="checkbox" class="form-check-input" id="segment-{{ ip_segment.ip_segment_id }}">
                        </td>
                        <th scope="row">{{ ip_segment.ip_segment_id }}</th>
                        <td>{{ ip_segment.ip_segment_ip }}</td>
                        <td>{{ ip_segment.ip_segment_mask }}</td>
                        <td>{{ ip_segment.ip_segment_network }}</td>

                        {% if ip_segment.ip_segment_tag.value == 'Public IP' %}
                            {% set badge_class = 'primary' %}
                        {% elif ip_segment.ip_segment_tag.value == 'Private IP' %}
                            {% set badge_class = 'success' %}
                        {% elif ip_segment.ip_segment_tag.value == '' %}
                            {% set badge_class = 'warning' %}
                        {% else %}
                            {% set badge_class = 'secondary' %}
                        {% endif %}

                        <td>
                            <span class="badge bg-{{ badge_class }}">{{ ip_segment.ip_segment_tag.value }}</span>
                        </td>
                        <td>
                            <button type="button" id="delete-button-segment-{{ ip_segment.ip_segment_id }}"
                                    class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-id="{{ ip_segment.ip_segment_id }}"
                                    data-type="segment"
                                    data-url="{{ url_for('ip_addresses.delete_segment', segment_id=ip_segment.ip_segment_id) }}"
                                    data-name="{{ ip_segment.ip_segment_ip }}"
                            ><i class="fa-solid fa-trash"></i></button>
                            <button id="show-segment-details" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#arp-details-modal" data-id="{{ ip_segment.id }}"
                                    onclick="segmentDetails.show('{{ ip_segment.ip_segment_id }}')">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- IP Segments Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->

    <!-- IP Segment Details Modal -->
    <section class="segments-details-modal">
        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel"><strong>IP Segment</strong> Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p><strong>IP Segment ID: </strong> <span id="ip-segment-id-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Router: </strong> <span id="ip-segment-router-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment IP: </strong> <span id="ip-segment-ip-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment Mask: </strong> <span id="ip-segment-mask-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment Network: </strong> <span id="ip-segment-network-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Interface: </strong> <span id="ip-segment-interface-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Actual Interface: </strong> <span id="ip-segment-actual-iface-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment Tag: </strong> <span id="ip-segment-tag-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment Description: </strong> <span id="ip-segment-comment-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment is Invalid: </strong> <span id="ip-segment-is_invalid-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment is Dynamic: </strong> <span id="ip-segment-is_dynamic-d"></span></p>
                                </div>
                                <div class="col-12">
                                    <p><strong>Segment is Disabled: </strong> <span id="ip-segment-is_disabled-d"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- IP Segment Details Modal -->
{% endblock %}
