/* Welcome Text */

.text {
    color: var(--text-color);
}

h1, h2 {
    font-weight: bold;
}

@keyframes move-gradient {
    0% {
        background-position: 0% 50%;
        rotate: 0deg;
    }
    50% {
        background-position: 100% 50%;
        rotate: 180deg;
    }
    100% {
        background-position: 0% 50%;
        rotate: 360deg;
    }
}

#welcome-name {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(2, 37, 78, 1) 0%, rgba(4, 56, 126, 1) 19.7%, rgba(85, 245, 221, 1) 100.2%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: move-gradient 5s infinite linear;
}

#welcome-text {
    color: var(--text-color);
}

/* Phone */
@media (max-width: 768px) {
    #welcome-text {
        padding-left: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    #welcome-text {
        padding-left: 1.5rem;
    }
}

/* Welcome Text */

/* Shortcuts Container */

.round-small {
    border-radius: 1rem;
}

.shortcut-container {
    width: 97%;
    position: relative;
    height: 20.5rem;
    z-index: 2;
    background-color: var(--sidebar-color);
}

/* Rotate Glowing Animation */
@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.box::after {
    filter: blur(10px);
}

/* Phone */
@media (max-width: 768px) {
    .shortcut-container {
        width: calc(100% - 4rem);
        height: 20rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .shortcut-container {
        width: calc(100% - 5rem);
        height: 20rem;
    }
}

.shortcut {
    width: 144px;
}

.shortcut a {
    text-decoration: none;
}

.shortcut-icon {
    width: 6rem;
    height: 6rem;
    background-color: var(--nav-items);
    border-radius: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.shortcut-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px rgb(12, 70, 143),
    0 0 18px 1px rgb(38, 184, 161);
}

.shortcut-icon i {
    font-size: 3rem;
    color: var(--text-color);
}

.shortcut-text {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
}

/* Phone */
@media (max-width: 768px) {
    .shortcuts {
        overflow-x: scroll;
    }

    .shortcut {
        width: 144px;
        margin-right: 2rem;
    }

    .shortcut-icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .shortcut-icon i {
        font-size: 2.5rem;
    }

    .shortcut-text {
        font-size: 1rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .shortcuts {
        overflow-x: scroll;
    }

    .shortcut {
        width: 144px;
    }

    .shortcut-icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .shortcut-icon i {
        font-size: 2.5rem;
    }

    .shortcut-text {
        font-size: 1rem;
    }
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Shortcuts Container */

/* Carousel Container */

#carousel-container {
    max-width: 95%;
    border-radius: 1rem;
}

.carousel-inner {
    padding: 0 !important;
}

.carousel-inner img {
    width: 100%;
    height: 26rem;
    border-radius: 1rem;
}

/* Phone */
@media (max-width: 768px) {
    .carousel-container {
        width: 93%;
        height: 10rem;
        margin-bottom: 1.5rem;
    }

    .carousel-inner img {
        height: 10rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-container {
        width: 100%;
        height: 21rem;
        margin-bottom: 1.5rem;
    }

    .carousel-inner img {
        height: 21rem;
    }
}

.app-container {
    height: 26rem;
    background-color: var(--sidebar-color);
}

.applications {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.application a {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.application-icon {
    width: 6rem;
    height: 6rem;
    background-color: var(--nav-items);
    border-radius: 100%;
    transition: var(--tran-05);
}

.application-icon:hover {
    scale: 1.1;
}

.application-icon i {
    font-size: 3rem;
    color: var(--text-color);
}

.application-text p {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
}

/* Phone */
@media (max-width: 768px) {
    .app-container {
        height: 21rem;
        width: 94%;
        margin-left: 8px;
    }

    .applications {
        flex-direction: column;
    }

    .application-icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .application-icon i {
        font-size: 2.5rem;
    }

    .application-text p {
        font-size: 1rem;
    }

    .changelog-outer-container {
        margin-top: 1.5rem;
        width: 94%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .app-container {
        height: 21rem;
    }

    .applications {
        flex-direction: column;
    }

    .application-icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .application-icon i {
        font-size: 2.5rem;
    }

    .application-text p {
        font-size: 1rem;
    }

    .changelog-outer-container {
        margin-top: 0.1rem;
    }
}

/* Carousel Container */

/* Changelog Container */

.changelog-outer-container {
    margin-top: 1.5rem;
    background-color: var(--sidebar-color);
    border-radius: 1rem;
}

.changelog-container {
    color: var(--text-color);
    width: 100%;
    height: 20rem;
    background-color: var(--sidebar-color);
    border-radius: 1rem;
    overflow-y: scroll;
}

.changelog {
    overflow-y: hidden;
}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ddd;
    left: 20px;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ddd;
    left: 16px;
    top: 5px;
}

.tag {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--text-color);
    margin-right: 5px;
}

.tag.added {
    background-color: #28a745;
}

.tag.changed {
    background-color: #007bff;
}

.tag.fixed {
    background-color: #dc3545;
}

.tag.deprecated {
    background-color: #6c757d;
}

.tag.removed {
    background-color: #343a40;
}

.tag.security {
    background-color: #ffc107;
    color: #212529;
}

/* Changelog Container */