{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Datos iniciales para el gráfico
        const siteData = {{ dashboard_data.assigned_private_ip_per_site | tojson }};
        let chart;

        // Inicializar gráfico
        function initializeChart(labels, data) {
            const ctx = document.getElementById('myChart').getContext('2d');
            ctx.width = 1200;  // Ajusta el ancho del canvas para que tenga suficiente espacio
            ctx.height = 400;  // Ajusta la altura según sea necesario
            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'IP Quantity',
                        data: data,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        borderRadius: 10
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        x: {
                            ticks: {
                                autoSkip: false,          // Desactiva autoSkip para mostrar todos los ticks
                                maxTicksLimit: 63,        // Garantiza que se vean todos los 63 segmentos
                                minRotation: 0,           // Mantén las etiquetas en su posición original
                                maxRotation: 45,          // Rota si es necesario
                            },
                            categoryPercentage: 0.9,     // Reduce el tamaño de cada barra
                            barPercentage: 0.8,         // Reduce el porcentaje de la barra si usas barras
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10,
                            },
                        },
                    },
                    layout: {
                        padding: {
                            left: 20,
                            right: 20,
                            top: 20,
                            bottom: 20
                        }
                    }
                }
            });
        }

        // Actualizar gráfico con nuevos datos
        function updateChart(labels, data) {
            chart.data.labels = labels;
            chart.data.datasets[0].data = data;
            chart.update();
        }

        // Obtener datos del sitio seleccionado y actualizar el gráfico
        document.getElementById('statsFilter').addEventListener('change', function () {
            const selectedSite = this.value;
            const siteSegments = siteData[selectedSite]?.by_segment || [];

            const labels = siteSegments.map(segment => Object.keys(segment)[0]);
            const data = siteSegments.map(segment => Object.values(segment)[0].quantity);

            if (chart) {
                updateChart(labels, data);
            } else {
                initializeChart(labels, data);
            }
        });

        // Inicialización del gráfico con el primer sitio
        const initialSite = Object.keys(siteData)[0];
        if (initialSite) {
            const initialSegments = siteData[initialSite]?.by_segment || [];
            const labels = initialSegments.map(segment => Object.keys(segment)[0]);
            const data = initialSegments.map(segment => Object.values(segment)[0].quantity);
            initializeChart(labels, data);
        }
    </script>
{% endblock %}

{% block content %}

    <!-- Dashboard Jumbotron -->
    <section class="dashboard-jumbotron">
        <div class="container-fluid py-5 overview-container">
            <h1 class="display-5 fw-bold">Overview</h1>
        </div>
    </section>
    <!-- Dashboard Jumbotron -->

    <!-- Overview Card-Top -->
    <div class="container card-top-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 card-container">
                <div class="d-flex justify-content-evenly">
                    <div class="card card-top">
                        <div class="card-body">
                            <h5 class="card-title">Total IPs</h5>
                            <span class="badge rounded-pill bg-dark">
                                {{ dashboard_data.total_ips.total }}
                            </span>
                        </div>
                    </div>
                    <div class="card card-top">
                        <div class="card-body">
                            <h5 class="card-title">Anomalies found</h5>
                            <span class="badge rounded-pill bg-dark">
                                {{ dashboard_data.total_ips.count_arps }}
                            </span>
                        </div>
                    </div>
                    <div class="card card-top">
                        <div class="card-body">
                            <h5 class="card-title">Blacklist/Authorized found</h5>
                            <span class="badge rounded-pill bg-dark">
                                {{ dashboard_data.total_ips.count_ip_groups }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Overview Card-Top -->

    <!-- Dashboard Content -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Panel 1 -->
                <div class="col-lg-12 col-md-6 col-sm-12 dashboard-content">
                    <div class="card p-3">
                        <h5 class="card-title">Assigned Private IP</h5>

                        <!-- Selector para elegir el tipo de estadísticas -->
                        <label for="statsFilter" class="form-label">Select a site:</label>
                        <select id="statsFilter" class="form-select mb-3">
                            {% for site in sites %}
                                <option value="{{ site[0] }}">{{ site[1] }}</option>
                            {% endfor %}
                        </select>
                        <!-- Canvas para el gráfico -->
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Content -->
{% endblock %}
