/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'CocomatPro';
    src: url('../../fonts/CocomatPro-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --spinner-wrapper: rgba(255, 255, 255, 0.35);
    --text-color: #100c04;
    --secondary-text-color: #ffffff;
    --text-color-active: #fff;
    --sidebar-color: #f3f1ee;
    --body: #fdfbf7;
    --nav-items: #d2d2d2;
    --hover-color: #e1e0e0;
    --primary-color: #00477a;
    --secondary-color: #00bd61;
    --accent: #0870b6;
    --toggle-color: #DDD;

    /* ====== Dimensions ====== */
    --vh: 100vh;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --spinner-wrapper: rgba(73, 73, 73, 0.35);
    --body: #29292b;
    --sidebar-color: #242526;
    --nav-items: #3a3b3c;
    --hover-color: #2e2e30;
    --primary-color: #85ccff;
    --secondary-color: #42ffa4;
    --accent: #4ab2f7;
    --toggle-color: #fff;
    --text-color: #fbf7ef;
    --text-color-active: #fff;
    --secondary-text-color: #ffffff;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

html, body {
    min-height: 100vh;
    background-color: var(--body);
    transition: var(--tran-05);
    height: fit-content;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 101; /* Higher than .home-section */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sidebar.close {
    width: 88px;
}


.sidebar .logo-details {
    height: 55px;
    display: flex;
    align-items: center;
}

.logo-icon {
    display: flex;
    height: 35px;
    text-decoration-line: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 15px;
    transition: var(--tran-05);
}

.sidebar .logo-details .a-logo {
    width: calc(100% - 78px);
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.sidebar .logo-details {
    background-image: linear-gradient(135deg, #57b7fd 10%, #001532 100%);
    background-repeat: no-repeat;
    margin: 14px;
    border-radius: 12px;
    transition: var(--tran-05);
}

.sidebar .logo-details span {
    padding-left: 10px;
    padding-top: 7px;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    font-family: 'CocomatPro', sans-serif;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.logo-details .logo_name {
    color: #ffffff;
}

#toggle-sidebar {
    background: var(--secondary-color);
}

.sidebar .toggle {
    position: absolute;
    top: 40px;
    right: -15px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.5s ease;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;

}

.sidebar.close .nav-links {
    overflow: visible;

}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block;
    transition: all 0.4s ease;
}

.sidebar .text {
    color: var(--text-color) !important;
    transition: var(--tran-03);
}

.sidebar .icon {
    color: var(--primary-color);
}


.sidebar .nav-links li i {
    height: 50px;
    min-width: 88px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.close .nav-links li:hover {
    width: 100%;
}

.sidebar .nav-links li a:hover {
    width: 100%;
}


.sidebar .nav-links li .sub-menu {
    padding: 14px 10px 14px 40px;
    background: var(--nav-items);
    display: none;
}

.sidebar.close .nav-links li:hover {
    background: var(--nav-items);
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
    border-radius: 20px;
}

.sidebar:not(.close) .nav-links li:hover {
    border-radius: 20px;
    background: var(--nav-items);
    width: 100%;
}

.sidebar.close .nav-links li.showMenu .sub-menu {
    display: block;
    border-radius: 0 20px 20px 0;
}

.sidebar .nav-links li .sub-menu a {
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
    color: var(--text-color);
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    border-radius: 0px 20px 20px 0px;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    padding: 9.1px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}


.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    padding: 0 10px 0 10px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .nav-links li .sub-menu.blank li {
    display: flex;
    height: 50px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    background: var(--nav-items);
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    width: 88px;
    background: none;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 14px;
    background: var(--nav-items);
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section .home-content .text {
    font-size: 35px;
}


.home-section .home-content #top-link {
    transition: all 0.5s ease;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);
}

.profile-content {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.user-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex; /* Change to block to enable transitions */
    width: 100%; /* Adjust based on your layout */
    padding: 0 1rem 5.25rem;
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Start hidden below the visible area */
    transition: var(--tran-03); /* Smooth transition for both properties */
    pointer-events: none; /* Prevent interaction when it's invisible */
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.user-actions .dropdown-item {
    display: flex;
    width: 100%;
    text-decoration: none;
    transition: var(--tran-03);
    border-radius: 30px !important;
}

.user-actions ul {
    background-color: var(--hover-color);
    border-radius: 20px;
    transition: var(--tran-03);
}

.user-actions .dropdown-item:hover {
    background-color: var(--hover-color);
    color: var(--text-color-active);
    box-shadow: inset 0 0 0 1px var(--secondary-color);
    transition: var(--tran-03);
}

.user-actions .dropdown-item i {
    align-self: center;
    margin-right: 0.5rem;
}

.dropdown-menu {
    flex-direction: column;
    width: 100%; /* Adjust based on your layout */
    transition: var(--tran-03); /* Smooth transition for width adjustment */
}

.sidebar.close .profile-details .user-actions .dropdown-menu {
    width: 100%;
}

.user-actions.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: var(--tran-03);
}

.profile-content img {
    cursor: pointer;
}

.sidebar .user-actions .toggle-switch {
    position: absolute;
    right: 0;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 2px;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}


.home-section {
    position: relative;
    background: transparent;
    left: 0;
    z-index: 1;
    height: max-content;
    box-sizing: border-box;
    padding-left: 78px;
    transition: all 0.5s ease;
}


.home-section .home-content {
    height: 60px;
    display: flex;
    position: sticky;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: transparent;
    padding-left: 40px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.home-section .home-content.sidebar {
    width: 100%;
}

.home-section .home-content.scrolled {
    border-radius: 30px;
    margin: 10px;
    transform: translate(20px, 10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    background: var(--sidebar-color);
    width: calc(100% - 87px);
    transition: all 0.5s ease;
}

.home-section .home-content.sidebar.scrolled {
    transform: translate(200px, 10px);
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.home-section .home-content.sidebar #top-link {
    transform: translate(180px, 0px);
    transition: all 0.5s ease;
}

.home-section .home-content.sidebar.scrolled #top-link {
    transform: translate(0px, 0px);
    transition: all 0.5s ease;

}

#top-link {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    transform: translateX(0); /* Comienza en su posición original */
    animation: none; /* La animación será aplicada por JS */
}


@keyframes scroll {
    0% {
        transform: translateX(0); /* Comienza en su posición original */
    }
    100% {
        transform: translateX(-100%); /* Termina fuera del contenedor a la izquierda */
    }
}

@keyframes return {
    0% {
        transform: translateX(-100%); /* Comienza fuera del contenedor a la izquierda */
    }
    100% {
        transform: translateX(0); /* Regresa a su posición original */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 260px;
        height: calc(var(--vh, 1vh) * 100); /* Use the CSS variable for dynamic height */
        position: fixed;
        left: 0;
        overflow: visible;
    }


    .home-section {
        position: relative;
        left: 0;
    }

    .home-section .home-content {
        padding-left: 40px;
    }

    .home-section .home-content.sidebar.scrolled {
        overflow: hidden;

    }

    .home-section .home-content.sidebar.scrolled {
        display: none;
    }

    .home-section .home-content.sidebar #top-link {
        display: none;
    }

    .home-section .home-content.sidebar {
    }

    .sidebar .home-section {
        padding-left: 78px;
    }

    .profile-content {
        height: auto;
    }

    .profile-details {
        height: auto;
    }

    .sidebar .nav-links {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .user-actions {
        height: auto;
    }

    .user-actions.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}
