.hide-scroll {
    overflow: hidden;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
        display: none;
    }
}

.text {
    color: var(--text-color);
}

.btn {
    border-radius: 25px !important;
    padding: 10px 15px;
!important;
}

.float-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 175px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    display: none; /* Initially hidden */
}

.list-group-item:hover {
    background-color: var(--sidebar-color);
    cursor: pointer;
}

.list-group-item {
    background: var(--hover-color);
    color: var(--text-color);
}

.transfer-auth-icon {
    width: 20px;
    height: 20px;
    color: var(--accent);
}

.notyf {
    border-radius: 40px !important;
    width: 100% !important;
}

.notyf__toast {
    border-radius: 40px !important;
    width: 100% !important;
    max-width: 70% !important;
}

.notyf__ripple {
    width: 120% !important;
}

/* Custom styles for Notyf icons */
.notyf__icon {
    display: flex;
    align-items: center; /* Aligns the icon vertically with the content */
    justify-content: center; /* Centers the icon horizontally */
    margin-right: 8px; /* Add space between the icon and the text */
}

.notyf__icon i {
    font-size: 24px; /* Adjust the size of the Material Icon */
    vertical-align: middle; /* Ensures the icon aligns with the text vertically */
    line-height: 1; /* Adjusts the line height to prevent spacing issues */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    .notyf {
        padding-top: 10% !important;
        padding-left: 10% !important;
        padding-right: 5% !important;
    }
}


.swal2-popup {
    background-color: var(--sidebar-color); /* Cambia a tu color deseado */
}

.swal2-html {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-title {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-content {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-text {
    color: var(--text-color); /* Cambia a tu color deseado */
}

/* Cambia los estilos de los botones */
.swal2-confirm {
    background-color: var(--accent); /* Cambia a tu color deseado */
    color: white;
}

.swal2-cancel {
    background-color: var(--primary-color); /* Cambia a tu color deseado */
    color: white;
}

/* Cambia el borde del modal */
.swal2-popup {
    border-radius: 30px; /* Cambia a tu valor deseado */
}

.btn {
    color: white;
}

.btn:hover {
    color: white;
}

.modal-backdrop {
    display: none !important;
}

.form-control, .form-select {
    background-color: var(--active-color);
    color: var(--text-color);
    border-radius: 20px;
}

.form-control:focus, .form-select:focus {
    background-color: var(--hover-color);
    color: var(--text-color);
}

.delete-button-action-confirm {
    color: white;
    border-radius: 20px;
    transition: var(--tran-05);
    background-color: var(--accent);
}

.delete-button-action-confirm:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
}

.delete-button-action-cancel {
    color: white;
    border-radius: 20px;
    background-color: #bb4430;
    transition: var(--tran-05);
}

.delete-button-action-cancel:hover {
    transform: scale(1.1);
    background-color: #a33b27;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.swal2-warning {
    border-color: #bb4430 !important;
    color: #bb4430 !important;
    animation: pulse 1s infinite !important;

}

.card {
    background-color: var(--active-color);
    color: var(--text-color);
    border-radius: 20px;
}

#create-new-btn {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    transition: var(--tran-03);
}

#create-new-btn:hover {
    scale: 1.05;
}

@media (max-width: 768px) {
    #create-new-btn {
        font-size: 0.9rem;
    }
}

.btn-md-actions-custom {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--text-color);
    transition: var(--tran-03);
    width: 40px;
    height: 40px;
}

body:not(.dark) .btn-md-actions-custom,
body:not(.dark) .btn-lg-actions-custom {
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(5px);
    color: var(--text-color);
    transition: var(--tran-03);
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.btn-md-actions-custom i {
    margin-top: -5px;
    margin-left: -1px;
    font-size: 0.85rem;
}

.btn-md-actions-custom:hover {
    scale: 1.05;
}

.btn-md-actions-custom #btn-update:hover {
    background: var(--update);
}

.btn-lg-actions-custom {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--text-color);
    transition: var(--tran-03);
    width: 50px;
    height: 50px;
}

.btn-lg-actions-custom i {
    margin-top: 2px;
    font-size: 1.3rem;
}

.btn-lg-actions-custom:hover {
    scale: 1.05;
}

:root {
    --update: rgb(255, 198, 117);
    --delete: rgb(255, 117, 117);
    --create: rgb(106, 231, 106);
    --show: rgb(117, 177, 255);
    --danger: rgb(170, 117, 255);
    --update-dark: rgb(167, 133, 75);
    --delete-dark: rgb(167, 75, 75);
    --create-dark: rgb(75, 167, 75);
    --show-dark: rgb(75, 115, 167);
    --danger-dark: rgb(120, 75, 167);
}

body:not(.dark) .btn-update:hover {
    background: var(--update);
}

.btn-update:hover {
    background: var(--update-dark);
}

body:not(.dark) .btn-delete:hover {
    background: var(--delete);
}

.btn-delete:hover {
    background: var(--delete-dark);
}

#create-new-btn:hover {
    background: var(--create);
}

body:not(.dark) #create-new-btn:hover {
    background: var(--create);
}

body:not(.dark) .btn-show:hover {
    background: var(--show);
}

.btn-show:hover {
    background: var(--show-dark);
}

body:not(.dark) .btn-dangerous:hover {
    background: var(--danger);
}

.btn-dangerous:hover {
    background: var(--danger-dark);
}