.hide-scroll {
    overflow: hidden;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
        display: none;
    }
}

.text {
    color: var(--text-color);
}

.btn {
    border-radius: 25px !important;
    padding: 10px 15px; !important;
}

.float-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 175px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    display: none; /* Initially hidden */
}

.list-group-item:hover {
    background-color: var(--sidebar-color);
    cursor: pointer;
}

.list-group-item {
    background: var(--hover-color);
    color: var(--text-color);
}

.transfer-auth-icon {
    width: 20px;
    height: 20px;
    color: var(--accent);
}

.notyf {
    border-radius: 40px !important;
    width: 100% !important;
}

.notyf__toast {
    border-radius: 40px !important;
    width: 100% !important;
    max-width: 70% !important;
}

.notyf__ripple {
    width: 120% !important;
}

/* Custom styles for Notyf icons */
.notyf__icon {
    display: flex;
    align-items: center; /* Aligns the icon vertically with the content */
    justify-content: center; /* Centers the icon horizontally */
    margin-right: 8px; /* Add space between the icon and the text */
}

.notyf__icon i {
    font-size: 24px; /* Adjust the size of the Material Icon */
    vertical-align: middle; /* Ensures the icon aligns with the text vertically */
    line-height: 1; /* Adjusts the line height to prevent spacing issues */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    .notyf {
        padding-top: 10% !important;
        padding-left: 10% !important;
        padding-right: 5% !important;
    }
}


.swal2-popup {
    background-color: var(--sidebar-color); /* Cambia a tu color deseado */
}

.swal2-html {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-title {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-content {
    color: var(--text-color); /* Cambia a tu color deseado */
}

.swal2-text {
    color: var(--text-color); /* Cambia a tu color deseado */
}

/* Cambia los estilos de los botones */
.swal2-confirm {
    background-color: var(--accent); /* Cambia a tu color deseado */
    color: white;
}

.swal2-cancel {
    background-color: var(--primary-color); /* Cambia a tu color deseado */
    color: white;
}

/* Cambia el borde del modal */
.swal2-popup {
    border-radius: 30px; /* Cambia a tu valor deseado */
}

.btn {
    color: white;
}

.btn:hover {
    color: white;
}

.modal-backdrop {
    display: none !important;
}

.form-control, .form-select {
    background-color: var(--active-color);
    color: var(--text-color);
    border-radius: 20px;
}

.form-control:focus, .form-select:focus {
    background-color: var(--hover-color);
    color: var(--text-color);
}

.card {
    background-color: var(--active-color);
    color: var(--text-color);
    border-radius: 20px;
}


.dashboard-jumbotron {
    background: url(
    "../../img/dashboard_banner.svg"
    ) no-repeat center, linear-gradient(90deg, #4fb76c, #57cc95, #3bb8ce);
    background-size: cover;
    width: 100%;
    min-height: 200px;
    z-index: 2;
    display: flex;
    align-items: center;
}

/* Container behind card-tops*/
.card-top-container {
    transform: translateY(-50%);
}

/* Container behind card-tops*/
.card-container {
}

.overview-container {
    color: white;
}

.overview-container h1 {
    padding-left: 2rem;
}

.card-top {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: relative;
    z-index: 1;
    transition: var(--tran-05);
    width: 400px;
    height: 100px;
}

.card-top:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    backdrop-filter: blur(20px);
    transition: var(--tran-05);
}

.card-top .badge {
    font-size: 1.5rem;
    background: var(--sidebar-color);
}

.dashboard-content {
}