.blacklist-table {
    overflow-x: scroll;
}

.blacklist-jumbotron {
    color: white;
    background: url("../../img/banner-blacklist.svg") no-repeat center, linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    background-size: cover;
    width: 100%;
    min-height: 300px;
    z-index: 2;
}


.text {
    color: var(--text-color);
    transition: var(--tran-03);
}
