.segments-table {
    overflow-x: scroll;
}

.segments-jumbotron {
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
    width: 100%;
    min-height: 300px;
    z-index: 2;
}

.col-c {
    transition: transform 0.3s ease-in-out;
}

.col-c:hover {
    transform: scale(1.05);
}

.card-c {
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.card-c:hover {
    -webkit-box-shadow: 0px 20px 40px -6px rgba(128,128,128,1);
    -moz-box-shadow: 0px 20px 40px -6px rgba(128,128,128,1);
    box-shadow: 0px 20px 40px -6px rgba(128,128,128,1);
}

.col-c > a {
    text-decoration: none;
    color: #212529;;
}

.card-background-c {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-c-return {
    transition: transform 0.3s ease-in-out;
}

.btn-c-return:hover {
    transform: scale(1.25);
}