.regions-table {
    overflow-x: scroll;
}

.regions-jumbotron {
    color: white;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    z-index: 2;
    width: 100%;
    min-height: 300px;
}

.text {
    color: var(--text-color);
    transition: var(--tran-03);
}
