{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal, show_details_button %}
{% extends 'base.html' %}
{% block title %} Routers {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/routers/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='/js/routers/scripts.js') }}"></script>
    <script>
        const routerDetails = new RouterDetails('{{ url_for('routers.get_router_details') }}');
        deleteAllModal("{{ url_for('routers.delete_all_routers') }}", "{{ url_for('routers.routers') }}", 'routers');
        deleteSelectModal("{{ url_for('routers.bulk_delete_router') }}", "{{ url_for('routers.routers') }}", 'router');
    </script>
{% endblock %}
{% block content %}
    <!-- Routers Jumbotron -->
    <section class="routers-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Routers</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
                <a href="{{ url_for('routers.add_router') }}" class="btn btn-primary btn-lg" type="button"><i
                        class="fa-solid fa-plus"></i> Create New Router</a>
            </div>
        </div>
    </section>
    <!-- Routers Jumbotron -->

    <!-- Routers Database -->
    <section class="routers-database pt-3 text">
        <div class="container w-100 align-items-center">
            <div class="row">
                <div class="col-8 col-md-7 text-left">
                    <h2 class="routers-database-title"><b>Available</b> Routers</h2>
                </div>
                <div class="col-12 col-md-5 d-flex justify-content-end">
                    <button data-flag="{{ 'True' if switch_scan_status else 'False' }}" data-url="{{ url_for('routers.toggle_switch_scan_status') }}" type="button" id="switch-allow-scan" class="btn btn-md btn-{{ 'success' if switch_scan_status else 'secondary' }} {{ 'blinking-green' if switch_scan_status else '' }} me-2">
                        <i style="font-size: large" class="fa-solid fa-light-switch"></i>
                    </button>
                    <button type="button" id="verify-all-routers-connection-button" class="btn btn-md btn-success me-2">
                        <i style="font-size: large" class="fa-solid fa-cloud-check"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-danger me-2" data-bs-toggle="modal" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i style="font-size: large" class="fa-solid fa-trash-can-plus"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-dark" data-bs-toggle="modal" id="delete-all"
                            data-bs-target="#delete-all-modal">
                        <i style="font-size: large" class="fa-solid fa-trash-can-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Routers Database -->

    <!-- Routers Separator -->
    <section class="routers-separator">
        <div class="container w-75 text">
            <hr>
        </div>
    </section>
    <!-- Routers Separator -->

    <!-- Routers Table -->
    <section class="routers-table hide-scroll pt-3 pb-3 text">
        <div class="container w-75" id="sites-table-c">
            <table class="table table-responsive text" id="datatable-object">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Router Name</th>
                    <th scope="col">Router Description</th>
                    <th scope="col">Allow Scan</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for router in router_list %}
                    <tr>
                        <td class="text-center"><label for="router-{{ router.router_id }}"></label>
                            <input type="checkbox" class="form-check-input" id="router-{{ router.router_id }}">
                        </td>
                        <td>{{ router.router_id }}</td>
                        <td>{{ router.router_name }}</td>
                        <td>{{ router.router_description }}</td>
                        <td>
                            <h5>
                                <span class="badge rounded-pill bg-{{ 'success' if router.allow_scan == 1 else 'secondary' }} {{ 'blinking-green' if router.allow_scan == 1 else '' }}">
                                    {{ "Online" if router.allow_scan == 1 else "Offline" }}
                                </span>
                            </h5>
                        </td>
                        <td>
                            <a href="{{ url_for('routers.update_router', router_id=router.router_id) }}" type="button"
                               class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></a>
                            <button type="button" id="delete-button-router-{{ router.router_id }}"
                                    class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-id="{{ router.router_id }}"
                                    data-type="router"
                                    data-url="{{ url_for('routers.delete_router', router_id=router.router_id) }}"
                                    data-name="{{ router.router_name }}"
                            ><i class="fa-solid fa-trash"></i></button>
                            {{ show_details_button(router.router_id, url_for('routers.get_router_details'), 'Router') }}
                            <button id="verify-router-connection" data-id="{{ router.router_id }}" class="btn btn-sm btn-success show-details-button" type="button">
                                <i class="fa-solid fa-cloud-check"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Routers Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
