{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal, excel_import_file %}
{% extends 'base.html' %}
{% block title %} Cities {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regions/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/regions/scripts.js') }}"></script>
    <script>
        deleteAllModal("{{ url_for('regions.delete_all_regions') }}", "{{ url_for('regions.regions') }}", 'regions');
        deleteSelectModal("{{ url_for('regions.bulk_delete_region') }}", "{{ url_for('regions.regions') }}", 'region');
    </script>
{% endblock %}
{% block content %}
    <!-- Cities Jumbotron -->
    <section class="regions-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold ">Cities</h1>
                <p class="col-md-8 fs-4">
                {% if session['user_privileges'] == 'admin' %}
                    Here you can manage the cities of the system. You can create, update, delete, import cities from an Excel file.
                {% else %}
                    Here you can view the cities of the system.
                {% endif %}
                </p>
                {% if session['user_privileges'] == 'admin' %}
                <a href="{{ url_for('regions.add_region') }}" id="create-new-btn" class="btn btn-lg" type="button"><i
                        class="fa-solid fa-plus"></i> Create New City</a>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Cities Jumbotron -->

    <!-- Cities Database -->
    <section class="regions-database pt-3 text">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="regions-database-title"><b>Available</b> Cities</h2>
                </div>
                {% if session['user_privileges'] == 'admin' %}
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    {{ excel_import_file(url_for('regions.import_regions_from_excel'), 'Cities', url_for('regions.regions'), url_for('static', filename='files/regions.xlsx')) }}
                    <button type="button" class="btn btn-delete btn-lg-actions-custom btn-md me-2" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i class="fa-duotone fa-solid fa-square-minus"></i>
                    </button>
                    <button type="button" class="btn btn-dangerous btn-lg-actions-custom btn-md" id="delete-all"
                            data-bs-target="#delete-all-modal">
                        <i class="fa-duotone fa-solid fa-trash"></i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Cities Database -->

    <!-- Cities Separator -->
    <section class="regions-separator">
        <div class="container w-75">
            <hr class="text">
        </div>
    </section>
    <!-- Cities Separator -->

    <!-- Cities Table -->
    <section class="regions-table hide-scroll pt-3 pb-3">
        <div class="container w-75 text" id="regions-table-c">
            <table class="table table-responsive" id="datatable-object">
                <thead class="text">
                <tr>
                    {% if session['user_privileges'] == 'admin' %}
                    <th scope="col"></th>
                    {% endif %}
                    <th scope="col">#</th>
                    <th scope="col">City Name</th>
                    {% if session['user_privileges'] == 'admin' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="text">
                {% for region in region_list %}
                    <tr>
                        {% if session['user_privileges'] == 'admin' %}
                        <td class="text-center"><label for="region-{{ region.region_id }}"></label>
                            <input type="checkbox" class="form-check-input" id="region-{{ region.region_id }}">
                        </td>
                        {% endif %}
                        <th scope="row">{{ region.region_id }}</th>
                        <td>{{ region.region_name }}</td>
                        {% if session['user_privileges'] == 'admin' %}
                        <td>
                            <a href="{{ url_for('regions.update_region', region_id=region.region_id) }}" type="button"
                               class="btn btn-sm btn-update btn-md-actions-custom"><i class="fa-duotone fa-solid fa-edit"></i></a>
                            <button type="button" id="delete-button-region-{{ region.region_id }}"
                                    class="btn btn-sm btn-delete btn-md-actions-custom"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-id="{{ region.region_id }}"
                                    data-type="region"
                                    data-url="{{ url_for('regions.delete_region', region_id=region.region_id) }}"
                                    data-name="{{ region.region_name }}"
                            ><i class="fa-duotone fa-solid fa-trash"></i></button>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Cities Table -->

    <!-- Delete Modals -->
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
